.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 115;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

li {
  float: left;
}

a.link {
  display: block;
  color: #000;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.link:hover:not(.active) {
  color: #8d1a3d;
}

a.link.active {
  color: #8d1a3d;
}

.logo {
  padding: 0 20px !important;
}

.logo img {
  max-height: 50px;
}

.get-on-store img {
  height: 25px;
}

.get-on-store {
  padding: 5px 10px !important;
  border: 1px solid lightgray;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px 10px 0px 0px;
}

.float-right {
  float: right;
}

.lang {
  position: relative;
  z-index: 12;
}

.lang .fa {
  font-size: 8px;
}

.dropbtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px !important;
  min-width: 45px;
  font-size: 14px;
  font-weight: 700;
}

.dropbtn img {
  height: 10px;
  width: 15px;
}

.dropdown {
  position: relative;
  margin-left: auto;
  display: inline-flex;
  border: 1px solid lightgray;
  background: #fafafa;
  padding: 5px !important;
  border-radius: 20px;
  margin: 10px 10px 0px 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 102x;
  transform: translate(-140px, 27px);
  width: 200px;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-content a:not(:first-child) {
  border-top: 1px solid lightgray;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content a:hover:last-child {
  border-radius: 0 0 20px 20px;
}

.dropdown-content a:hover:first-child {
  border-radius: 20px 20px 0 0;
}

.dropdown-content a img {
  border: 2px solid skyblue;
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.show {display:block;}

.sidenav-toggle, .sidenav {
  display: none;
}

.download-icon {
  margin: 10px;
  font-size: 20px;
}

@media(min-width: 800px) {
  .download-icon {
    display: none;
  }
}

@media(max-width: 800px) {
  .nav {
    display: flex;
    align-items: center;
  }

  .download-icon {
    margin-left: auto;
  }

  .sidenav-toggle {
    display: list-item;
  }
  .nav li.logo-container ~ li:not(.download-icon) {
    display: none !important;
  }

  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: 1px solid #e7e7e7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
  }

  .sidenav a {
    font-size: 20px;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
  }

  .get-on-store {
    margin: 10px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
