<ul class="nav">
  <li class="sidenav-toggle"><a class="link" [class.active]="sideNavWidth > 0" (click)="toggleNav()"><i
        class="fa fa-bars"></i></a></li>
  <li class="logo-container"><a class="logo link" [routerLink]="['/']" routerLinkActive="router-link-active"><img
        src="/assets/img/logo.jpg"></a></li>
  <li><a class="link" [routerLink]="['/snap', 12]" routerLinkActive="active">SNAPS</a></li>
  <li><a class="link" [routerLink]="['/about-us']" routerLinkActive="active">ABOUT US</a></li>
  <li><a class="link" routerLink="/gallery" routerLinkActive="active">TERMS</a></li>
  <li class="float-right ml-50"><a class="get-on-store link"><img src="/assets/img/get-on-app.jpg"></a>
  </li>
  <li class="float-right"><a class="get-on-store link"><img src="/assets/img/get-on-play.jpg"></a>
  </li>
  <li class="float-right lang-container">
    <div class="dropdown">
      <div class="lang">
        <a class="dropbtn" (click)="dropdown.classList.toggle('show');"> <img [src]="lang.url"> {{ lang.code }} <i
            class="fa fa-chevron-up"
            [ngClass]="dropdown.classList.contains('show') ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
        </a>
      </div>
      <div class="dropdown-content" #dropdown>
        <a (click)="dropdown.classList.toggle('show'); lang = l" *ngFor="let l of langList">
          <img [src]="l.url"> <span>{{ l.name }}</span>
        </a>
      </div>
    </div>
  </li>
  <li class="float-right download-icon"><a class="download-icon"><i class="fa fa-download"></i></a>
  </li>
</ul>
<div class="sidenav" #sidenav [ngStyle]="{'width.px': sideNavWidth}" (click)="sideNavWidth = 0">
  <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> -->
  <a class="link" [routerLink]="['/snap', 12]" routerLinkActive="active">SNAPS</a>
  <a class="link" [routerLink]="['/about-us']" routerLinkActive="active">ABOUT US</a>
  <a class="link" routerLink="/gallery" routerLinkActive="active">TERMS</a>
  <a class="get-on-store link"><img src="/assets/img/get-on-app.jpg"></a>
  <a class="get-on-store link"><img src="/assets/img/get-on-play.jpg"></a>
</div>
