.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.item-active {
  position: relative;
  width: 300px;
  height: 500px;
  margin: 5px;
  background: black;
}

.item-active .photo {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.item-active .item-header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
}

.item-active .photo-info {
  display: flex;
  justify-items: center;
  align-items: center;
  color: #fff;
  width: 100%;
}

.item-active .photo-info .user-img {
  padding: 10px;
}

.item-active .photo-info .user-img img {
  border: 2px solid lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.item-active .photo-info .user-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item-active .photo-info .user-info .name, .item-active .photo-info .user-info .views{
  margin: 0;
}

.item-active .photo-info .likes {
  margin-left: auto;
  padding: 10px;
}

.item-active .progress-container {
  padding: 10px;
}

.item-active .progress-main {
  height: 2px;
  width: 100%;
  background: gray;
}

.item-active .progress-bar {
  height: 100%;
  width: 35%;
  background: linear-gradient(-90deg, lightblue, skyblue);
}

.item {
  margin-top: 8px;
  min-height: 50px;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 200px;
  opacity: .5;
  margin: 5px;
  cursor: pointer;
}

.item .photo {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.item .user {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(10px, -15px);
  z-index: 10;
  border: 2px solid lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.item .like {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-15px, -20px);
  z-index: 10;
  color: white;
  font-size: 14px;
}

.item .video {
  position: absolute;
  transform: translate(10px, 5px);
  z-index: 10;
  color: white;
}

.action {
  text-decoration: none;
  color: lightgray;
  cursor: pointer;
}
.action:hover {
  color: gray !important;
}

.action.next {
  float: right;
}

.share {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  transform: translate(-10px, -10px);
  cursor: pointer;
}

.share i.fa-share {
  float: right;
}

.share .ssk-group {
  display: none;
}

.share:hover .ssk-group {
  display: block !important;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .item-active {
    position: fixed;
    width: 100%;
    height: calc(100vh - 64px);
    margin: 0;
    top: 64px;
    z-index: 100;
  }
  .item {
    display: none;
  }
  .action {
    position: fixed;
    bottom: 0;
    padding: 10px;
    z-index: 105;
  }
  .action.previous {
    left: 0;
  }
  .action.next {
    right: 0;
  }
  .share {
    right: 45%;
    float: left;
    z-index: 105;
  }
}
