<app-filter-header></app-filter-header>
<div class="container" *ngIf="data">
  <ng-container *ngTemplateOutlet="itemTemp; context:{'item': data[0], 'isPrevious': true}"></ng-container>
  <ng-container *ngTemplateOutlet="itemActiveTemp; context:{'item': data[1]}"></ng-container>
  <ng-container *ngTemplateOutlet="itemTemp; context:{'item': data[2], 'isNext': true}"></ng-container>
</div>
<ng-template let-item="item" #itemActiveTemp>
  <div class="item-active">
    <img *ngIf="item.type === 'img'" class="photo" [src]="item.url">
    <video class="photo" *ngIf="item.type === 'video'" width="100%" (timeupdate)="timeupdate(player)" #player controls
      [autoplay]="true">
      <source [src]="item.url" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <div class="item-header">
      <div class="progress-container" *ngIf="item.type === 'video'">
        <div class="progress-main">
          <div class="progress-bar" [ngStyle]="{width: progress + '%'}"></div>
        </div>
      </div>
      <div class="photo-info">
        <div class="user-img">
          <img [src]="item.user?.url">
        </div>
        <div class="user-info">
          <h3 class="name">User name</h3>
          <h5 class="views"><i class="fa fa-eye"></i> {{item.views}} views</h5>
        </div>
        <div class="likes">
          <span>{{item.likes}} <i class="fa fa-heart-o"></i></span>
        </div>
      </div>
    </div>
    <div class="share">
      <div class="ssk-group">
        <a (click)="share('facebook')" class="ssk ssk-facebook"></a>
        <a (click)="share('twitter')" class="ssk ssk-twitter" data-text="Share text for twitter"></a>
      </div>
      <i class="fa fa-share"></i>
    </div>
  </div>
</ng-template>
<ng-template let-item="item" let-isPrevious="isPrevious" let-isNext="isNext" #itemTemp>
  <div>
    <div class="item" (click)="isPrevious ? previous() : next()">
      <span class="video" *ngIf="item.type === 'video'"><img src="/assets/img/videoicon.svg"></span>
      <img class="photo" [src]="item.type === 'img' ? item.url : item.poster">
      <img class="user" [src]="item.user?.url">
      <span class="like">{{item.likes}} <i class="fa fa-heart-o"></i></span>
    </div>
    <a class="action previous" *ngIf="isPrevious" (click)="previous()"><i class="fa fa-arrow-left"></i> Previous</a>
    <a class="action next" *ngIf="isNext" (click)="next()">Next <i class="fa fa-arrow-right"></i></a>
  </div>
</ng-template>
