<div class="header">
  <ul>
    <li><a class="btn popular" [class.active]="selectedId == -1" (click)="selectedId = -1">POPULAR</a></li>
    <li *ngFor="let team of teamList"><a class="btn" [class.active]="selectedId == team.id"
        (click)="selectedId = team.id; onTeamSelected(team.id)"><img [src]="team.url"></a></li>
  </ul>
  <div class="dropdown">
    <div class="search">
      <input type="text" class="search-bar" placeholder="Search team..." (focusin)="dropdown.classList.toggle('show')" (click)="$event.stopPropagation()" [(ngModel)]="filter">
      <i class="fa fa-search"></i>
    </div>
    <div class="dropdown-content" #dropdown>
      <a *ngFor="let team of teamList | filter:filter" (click)="selectedId = team.id; onTeamSelected(team.id); dropdown.classList.toggle('show'); filter = team.name">
        <img [src]="team.url"> <span>{{ team.name }}</span>
      </a>
    </div>
  </div>
</div>
