.header {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .header {
    padding: 10px 0px;
  }

  .header ul li + li {
    display: none;
  }
}

.header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: inline;
}

.header li {
  float: left;
}

.header li a.btn {
  display: block;
  color: #000;
  font-weight: 600;
  margin: 5px;
  cursor: pointer;
}

.header li a.btn.popular {
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  border: 2px solid lightgray;
  border-radius: 50px;
  cursor: pointer;
}

.header li a.btn.active.popular, .header li a.btn.active img{
  border-color: skyblue;
  color: skyblue;
  box-shadow: 0 0 10px skyblue;
}

.header li a.btn img {
  border: 2px solid lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.search {
  position: relative;
  z-index: 12;
}

.search .search-bar {
  border: 1px solid lightgray;
  border-radius: 25px;
  height: 25px;
  padding: 5px 35px 5px 15px;
}

.search input.search-bar:focus {
  outline: none;
  box-shadow: 0px 0px 2px skyblue;
}

.search i {
  color: lightgray;
  position: absolute;
  right: 0;
  transform: translate(-15px, 8px);
}

.dropdown {
  position: relative;
  margin-left: auto;
  display: inline-flex;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 11;
  transform: translate(0px, 20x);
  padding-top: 35px;
  width: 100%;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-content a:not(:first-child) {
  border-top: 1px solid lightgray;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content a:hover:last-child {
  border-radius: 0 0 20px 20px;
}

.dropdown-content a img {
  border: 2px solid skyblue;
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.show {display:block;}
