<div class="row">
  <div class="column">
    <div class="item">
      <span class="video"><i class="fa fa-video-camera"></i></span>
      <img class="photo" src="/assets/img/adria-crehuet-cano-664499-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/alex-462576-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/aziz-acharki-549137-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/c-ma-229418-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/daniel-van-den-berg-437487-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/david-pisnoy-545896-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/edgar-chaparro-601707-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
  </div>

  <div class="column">
    <div class="item">
      <img class="photo" src="/assets/img/izuddin-helmi-adnan-426454-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/jc-gellidon-452717-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/julien-rocheblave-524896-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/kuan-fang-258053-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/mario-klassen-224549-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/naphtali-marshall-13585-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
  </div>

  <div class="column">
    <div class="item">
      <img class="photo" src="/assets/img/remi-jacquaint-519310-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/riley-mccullough-196374-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/Screenshot_2.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/thomas-serer-431811-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/timothy-tan-1271995-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/tom-grimbert-tomgrimbert-718465-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
  </div>

  <div class="column">
    <div class="item">
      <img class="photo" src="/assets/img/waldemar-brandt-1374380-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/jeffrey-f-lin-689928-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/dan-gold-225822-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/virgil-cayasa-602078-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/izuddin-helmi-adnan-427026-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/guillaume-de-germain-594827-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/vienna-reyes-616736-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
  </div>

  <div class="column">
    <div class="item">
      <img class="photo" src="/assets/img/remi-jacquaint-519310-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/riley-mccullough-196374-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/Screenshot_2.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/thomas-serer-431811-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/timothy-tan-1271995-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/tom-grimbert-tomgrimbert-718465-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
  </div>

  <div class="column">
    <div class="item">
      <img class="photo" src="/assets/img/izuddin-helmi-adnan-426454-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/jc-gellidon-452717-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/julien-rocheblave-524896-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/kuan-fang-258053-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/mario-klassen-224549-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
    <div class="item">
      <img class="photo" src="/assets/img/naphtali-marshall-13585-unsplash.jpg">
      <img class="user" src="/assets/img/users.jpg">
      <span class="like">15 <i class="fa fa-heart-o"></i></span>
    </div>
  </div>
</div>
