* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: calc(100% / 6);
  max-width: calc(100% / 6);
  padding: 0 4px;
}

.column .item {
  margin-top: 8px;
  min-height: 50px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.column .item .photo {
  border-radius: 5px;
  width: 100%;
  min-height: 100px;
  background-image: url(/assets/img/loading.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
}

.column .item .user {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(10px, -15px);
  z-index: 10;
  border: 2px solid lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.column .item .like {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-15px, -20px);
  z-index: 10;
  color: white;
  font-size: 14px;
}

.column .item .video {
  position: absolute;
  transform: translate(10px, 5px);
  z-index: 10;
  color: white;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: calc(100% / 3);
    max-width: calc(100% / 3);
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
