<app-filter-header (teamIdChange)="onTeamSelected($event)" [selectedId]="teamId ? teamId : -1"></app-filter-header>
<div class="row">
  <div class="column" *ngFor="let i of [0, 1, 2, 3, 4, 5]">
    <ng-template ngFor let-item [ngForOf]="data | divide:i:6">
      <ng-container *ngTemplateOutlet="itemTemp; context:{'item': item}"></ng-container>
    </ng-template>
  </div>
</div>
<ng-template let-item="item" #itemTemp>
  <div class="item" @fadeInOut [routerLink]="['/snap', item.id]">
    <span class="video" *ngIf="item.type === 'video'"><img src="/assets/img/videoicon.svg"></span>
    <img class="photo" [src]="item.type === 'img' ? item.url : item.poster">
    <img class="user" [src]="item.user?.url">
    <span class="like">{{item.likes}} <i class="fa fa-heart-o"></i></span>
  </div>
</ng-template>
