.main {
  margin-top: 65px;
  padding: 0px 100px;
}

@media (max-width: 800px) {
  .main {
    padding: 0px 15px !important;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 0px 10px !important;
  }
}
